/* @Title: Project Assessment (CRUD)
@Description: Create a simple CRUD for your project. Use HTML for the structure, CSS for some UI design (just simple ones), Javascript for 
interactivity, and PHP/MySQL for the backend.
@Author: Zyrenn Rose Borres and Darwin Escaro (BSIT)
@Date Created: September 27, 2022 
*/

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 50;
    font-family: "Poppins";
    color: #ff5722;
}

body{
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

table{
    width: 80%;
    margin: 40px auto;
    border-radius: 4px;
    background: #a6acaf;
}

table.list{
    text-align: center;
    width: 100%;
    color: #303841;
}

td{
    border: 1px solid #efeff0;
    text-align: left;
    padding: 8px 15px;
    color: #303841;
}

tr:nth-child(even), table.list thread> tr{
    background-color: rgb(255, 255, 255);
}

input[type="text"],input[type="number"]{
    width:91%;
    padding:12px 20px;
    margin:8px 0;
    display: inline-block;
    border: 1px solid #ffffff;
    border-radius: 15px;
    background: #ffffff;
    font-family: "Poppins";
    color: #303841;
}

input[type="submit"],input[type="reset"]{
    background: #00adb5;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    font-family: "Didact Gothic";
}

input[type="submit"]:hover{
    background: #00adb5;
}

input[type="reset"]:hover{
    background: #00adb5;
}

button{
    background: #00adb5;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    
}

button:hover{
    background:#ffffff ;
}

footer{
    background: #303841;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
    font-family: "Anton";
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}